<h2>Search Players</h2>

<form method="POST" action="/players/results">
    <label for="search-input">Search:</label>
    <input id="search-input" type="text" placeholder="Enter your search..." name="first_name" />

    <button type="submit">Search Player Name</button>
</form>



<style>
    body {
        background-image: 'media/basketball-hoop.jpg';
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>