<h2>Search Players</h2>

<form method="POST" action="/players/results">
    <label for="search-input">Search:</label>
    <input id="search-input" type="text" placeholder="Enter your search..." name="first_name" />

    <button type="submit">Search Player Name</button>
</form>



<h2>Players</h2>

<% players.forEach(player => { %>
    <div>
        <h2>Name: <%= player.first_name %> <%= player.last_name %></h2>
        <p>ID: <%= player.id %></p>
    </br>
        <a href = '/players/<%= player.id %>'>Details</a>
    </br>
    </div>    
<% }) %>