<h2>Search Results</h2>

<% players.forEach(player => { %>
    <div>
        <h3><%= player.first_name %> <%= player.last_name %></h3>
        <a href='/players/<%= player.id %>'></a>
    </div>
<% }) %>