<h2 class="text-center">Search Results</h2>

<% players.forEach(player => { %>
    <div class="text-center">
        <a style="color: black" href='/players/<%= player.id %>'><h3><%= player.first_name %> <%= player.last_name %></h3></a>
    </div>
<% }) %>

