<h1 class="text-center">NBA Teams</h1>

<% teams.forEach(team => { %>
    <div>
        <h2 class="text-center"><a style="color: black" href='/teams/<%= team.id %>'><%= team.full_name %></a> </h2>

    </div>
<% }) %>