<h3 class="text-center">Edit Comment</h3>
<%// console.log(comment[0].dataValues.description) %>

<form class="text-center" method="POST" action="/comments/<%= comment[0].dataValues.id %>/?_method=PUT">
    <input type="text" name="description">
    <input type="submit" class="btn btn-outline-success" value="Submit">
    
</form>