<!-- <form action="/users" method="POST">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" required>
</br>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" required>
</br>
    <button type="submit">Sign up</button>
</form> -->


<form action="/users" method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input id="email" class="form-control" type="email" name="email" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input id="password" class="form-control" type="password" name="password" required>
    </div>

    <button type="submit" class="btn btn-primary">Sign up</button>
</form>